#
# ********* LIVE VALUES FOR DEPLOYING INGRESS API GATEWAY *******
# install with
#  helm install api-gateway ingress-nginx/ingress-nginx --values ~/dev/dapr-store/deploy/live/ingress-values.yaml --namespace dapr-store
#

controller:
  service:
    labels:
      purpose: "daprstore-api-gateway"

    # Static IP so DNS can remain static too
    # This is manually pre-created
    loadBalancerIP: "20.254.189.197"
  ingressClass: "dapr"
  ingressClassResource:
    name: "dapr"
  podAnnotations:
    dapr.io/enabled: "true"
    dapr.io/app-id: "api-gateway"
    dapr.io/app-port: "80"
    # Really important! Without this the trick of sending traffic to the daprized service won't work
    dapr.io/sidecar-listen-addresses: "0.0.0.0"
  scope:
    enabled: true
