# Secrets here
**/.env

# Go binaries
cmd/cart/cart
cmd/orders/orders
cmd/users/users
cmd/products/products
cmd/frontend-host/frontend-host

# Configs
components/*.yaml
!components/pubsub.yaml
!components/statestore.yaml

# Code coverage & test output
web/frontend/coverage
**/node_modules/**
output/**
bin/**
.secrets