{{- $tlsEnabled := (or .Values.ingress.certIssuer .Values.ingress.certName) -}}

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ .Chart.Name }}-ingress-rules
  annotations:
    kubernetes.io/ingress.class: dapr
    {{ if .Values.ingress.certIssuer }}
    cert-manager.io/cluster-issuer: {{ .Values.ingress.certIssuer }}
    {{ end }}    
    {{ if $tlsEnabled }}
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    {{ else }}
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    {{ end }}    
spec:
  {{ if $tlsEnabled }}
  tls:
  - hosts:
    - "{{ .Values.ingress.host }}"
    {{ if .Values.ingress.certName }}
    secretName: {{ .Values.ingress.certName }}
    {{ else }}
    secretName: {{ include "daprstore.fullname" . }}
    {{ end }}
  {{ end }}
  rules:
    {{ if .Values.ingress.host }}
    - host: "{{ .Values.ingress.host }}"
      http: 
    {{ else }}
    - http:
    {{ end }}
        paths:
          # Only expose the Dapr invoke API, lets us call our services and nothing more
          - path: /v1.0/invoke/
            backend:
              serviceName: api-gateway-dapr
              servicePort: 80                
          # Everything else falls through to the frontend-host for serving the SPA         
          - path: /
            backend:
              serviceName: daprstore-frontend-host
              servicePort: 8000