#
# Rename this file, remove the .sample and set your API key
#

apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: orders-email
spec:
  type: bindings.twilio.sendgrid
  metadata:
  - name: emailFrom
    value: "orders@daprstore.com"
  # REQUIRED. Must be set here, this is your SendGrid API key
  - name: apiKey
    value: "__YOUR_API_KEY__"