#
# Rename/copy this file, and set your storage account details & key
# Then copy to your default dapr components dir, eg. $HOME/.dapr/components
#

apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: orders-report
spec:
  type: bindings.azure.blobstorage
  metadata:
    - name: storageAccount
      value: __CHANGE_ME__
    - name: storageAccessKey
      value: __CHANGE_ME__
    - name: container
      value: __CHANGE_ME__
