#
# Rename/copy this file removing .sample, and set your storage account details & key
# Then copy to your default dapr components dir, eg. $HOME/.dapr/components
#

apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: orders-report
spec:
  version: v1
  type: bindings.azure.blobstorage
  metadata:
    - name: accountName
      value: __CHANGE_ME__
    - name: accountKey
      value: __CHANGE_ME__
    - name: containerName
      value: __CHANGE_ME__
